<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <h2>Войти</h2>
    <label>
        <input class="validation" type="email" name="email" placeholder="email" required>
    </label>
    <label>
        <input class="validation" type="password" name="password" placeholder="password" required>
    </label>

    <p><a href="/reset">Забыли пароль?</a></p>
    <button type="submit" class="btn btn-small">Войти</button>
    </label>
</form>
<br>
<br>
<br>
<form action="/registration" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <h2>Регистрация</h2>
    <label>
        <input class="validation" type="email" name="email" placeholder="email" required>
    </label>
    <label>
        <input class="validation" type="text" name="name" placeholder="name" required>
    </label>
    <label>
        <input class="validation" type="password" name="password" placeholder="password" required>
    </label>
    <label>
        <input class="validation" type="password" name="confirm" placeholder="confirm password" required>
    </label>

    <button type="submit" class="btn btn-small">Save</button>
    </label>
</form>