<form action="/password" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="token" value="{{token}}">

    <h2>Сбросить</h2>
    <label>
        <input class="validation" type="password" name="password" placeholder="Новый пароль" required>
    </label>

    <button type="submit" class="btn btn-small">New password</button>
    </label>
</form>