<form action="/create" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <h2>Create to</h2>

    <div class="input-field">
        <input type="text" name="title" id="title">
        <label for="title"></label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>